	<div class="page-header">
		<h1>Sam I Am</h1>
	</div>
	<div class="row">
		<div class="span9">
			<h4>My name is Samantha Geitz, and I spend most of my time staring at a computer screen.</h4><br />
			<p>I received my bachelor's degree in English Literature, intending to become a teacher and inspire the pubescent masses with Shakespeare, Austen, and Byron. However, In my last semester of college, I took a C++ class as an elective - mostly because I was working close to full-time and it was one of the few classes that fit into my busy schedule - and I immediately fell in love with programming. I'd always been interested in technology, and I'd dabbled in web development for years, but by the end of the first week of that class I knew I wanted to be a programmer.</p>
			<p>I recently completed my master's degree in Information Science from the University of Missouri, and I also build websites for their Graduate School. In addition, I freelance as a web developer and consultant for small businesses.</p>
			<p>It's probably not surprising that, after spending years and <del>thousands</del> tens of thousands dollars learning how to write elegantly, Ruby on Rails has become my poison of choice.  I also know Javascript and PHP, and I've dabbled in Actionscript and .NET. I also love interface design and making pretty graphics in Photoshop with my Wacom tablet.</p>
			<p>Want to see what I've been up to?  Check me out on Twitter or Github.</p>
			<div class="row social-media">
				<div class="span1"><a href="https://twitter.com/samanthageitz" target="_blank"><%= image_tag("twitter-icon.png") %></a></div>
				<div class="span1"><a href="https://github.com/samanthamichele7" target="_blank"><%= image_tag("gh-icon.png") %></a></div>
			</div>
		</div>
		<div class="span3">
			<%= image_tag("smg-pic.png") %>
		</div>
	</div>
