<div id="contact">
	<h1>I currently live in the beautiful Lincoln Square neighborhood of Chicago and work as a software engineer, primarily on Wordpress VIP projects, at <a href="http://www.doejo.com">Doejo</a>.  If you'd like to say hello, feel free to contact me by <a href="mailto:samanthamichele7@gmail.com">Email</a> or follow me on <a href="http://www.twitter.com/samanthageitz">Twitter</a>.</h1>
</div>