<div id="contact">
	<h1>I currently live in the Chicago suburbs and am looking for full-time employment as a Ruby on Rails developer.  If you'd like to say hello, feel free to contact me by <a href="mailto:samanthamichele7@gmail.com">Email</a> or on <a href="http://www.twitter.com/samanthageitz">Twitter</a>.</h1>
</div>