<% provide(:title, "Home") %>

<%= render 'layouts/backstretch' %>
<div id="home">
	<div class="container">
		<div class="span4 home-box">
			<h1 class="opaque-text">Samantha Geitz</h1>
			<h4 class="opaque-text">Chicago Web Developer</h4>
		</div>
	</div>
</div>