<script type="text/javascript">
  $.backstretch("assets/smg-bg-crop.png");
</script>

<div id="home">
	<div class="container">
		<div id="home-box">
			<h1 class="opaque-text">Samantha Geitz</h1>
			<h4 class="opaque-text">Chicago Web Developer</h4>
		</div>
	</div>
</div>