<div class="page-header">
  <h1>Resume</h1>
</div>

<div class="resume-name">
  <br /><br /><h3>Samantha Geitz</h3>
  <p>Roselle, Illinois</p>
  
  <p><a href="mailto:samanthamichele7@gmail.com">Email</a> | <a href="http://www.samanthageitz.com">Professional Portfolio</a> | <a href="http://www.courierdevelopment.com">Academic Portfolio</a></p>
  
  <%= link_to 'View PDF', asset_path("resume.pdf") %>
</div>


<h3>Education</h3>
            
  <div class="row">
    <div class="span4">
      <h4>University of Missouri</h4>
        <p>Columbia, Missouri</p>
      </div>
      
      <div class="span8">
          <h5>Master of Education - Information Science & Learning Technologies</h5>
            <p>May 2013<br />
            <p>GPA: 4.0</p>
      </div>
  </div>
            
  <div class="row">
    <div class="span4">
      <h4>Elmhurst College</h4>
        <p>Elmhurst, IL</p>
  </div>
  
    <div class="span8">
      <h5>Bachelor of Arts - English Literature</h5>
        <p>May 2010<br />
        <p>GPA: 3.96 | Graduated Summa Cum Laude</p><br />
    </div>
  </div>

  <h3>Experience</h3>

  <div class="row">
    <div class="span4">
      <h4>Software Engineer</h4>
      <h5>Doejo</h5>
    </div>
    <div class="span8">
      <p>June 2013-present | Chicago, Illinois</p>
        <ul>
          <li>Front-end and back-end development, mostly on the Wordpress VIP platform, in an agile and iterative environment</li>
          <li>Develop new Wordpress features and plugins using Javascript and PHP</li>
          <li>Build user interface wireframes to meet project needs</li>
          <li>Troubleshoot issues with existing code</li>
        </ul><br />
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <h4>Creative Director</h4>
      <h5>Courier Development</h5>
    </div>
    <div class="span8">
      <p>April 2012-present | Chicago, Illinois</p>
        <ul>
          <li>Design and develop websites and applications to meet client specifications</li>
          <li>Perform search engine optimization</li>
          <li>Consult clients on best marketing practices</li>
        </ul><br />
    </div>
  </div>

  <div class="row">
    <div class="span4">            
      <h4>Web Developer</h4>
      <h5>University of Missouri</h5>
    </div>
    <div class="span8">
      <p>January 2013-present | Columbia, Missouri</p>
      <ul>
        <li>Manage code and content updates for the websites that fall under the domain of MU's Graduate School</li>
        <li>Perform design and development work on websites</li>
        <li>Complete print design projects for Graduate School initiatives</li>
      </ul><br />
    </div>
  </div>
        
  <div class="row">
    <div class="span4">
      <h4>Graduate Admissions Adviser</h4>
      <h5>University of Missouri</h5>
    </div>
    <div class="span8">
      <p>September 2010-July 2012 | Columbia, Missouri</p>
      <ul>
        <li>Reviewed, evaluated, and processed domestic and international applications, transcripts, and other related documents for applicants to MU's Graduate School</li>
        <li>Advised students on best practices for applying to graduate school and, for international students, obtaining a U.S. educational visa</li>
        <li>Managed year-long transition from a paper-based admission files system to an electronic imaging system</li>
        <li>Performed application system and email template coding and maintenance as required</li>
      </ul><br />
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <h4>Sales</h4>
      <h5>Best Buy</h5>
    </div>
    <div class="span8">
      <p>June 2009-September 2010 | Addision, IL & Columbia, Missouri</p>
      <ul>
        <li>Assisted customers in selecting a computer or mobile devices as well as any appropriate accessories and services</li>
        <li>Built relationships with customers through Best Buy's TRUST sales model</li>
        <li>Ensured customers had a positive buying experience by finding the best solutions for their needs</li>
        <li>Educated self and customers about the latest technology</li>
      </ul><br />
    </div>
  </div>

  <h3>Skills</h3>
    <p><strong>Design:</strong> HTML5, CSS3, SASS / LESS, Responsive Design, UI/UX, Information Architecture, Search Engine Optimization</p>
    <p><strong>Development:</strong> Ruby, Ruby on Rails, Javascript, JQuery, CoffeeScript, RSpec, PHP, SQL, Flash/Actionscript3</p>
    <p><strong>Software/Applications:</strong> Photoshop, Illustrator, SublimeText 2, UNIX Terminal, Git, RationalPlan, Wordpress, Joomla, Windows, OSX, Linux</p><br />

  <h3>Honors</h3>
    <ul>
      <li>Elmhurst College Dean's List: January 2008 - May 2010</li>
      <li>Transfer Excellence Scholarship recipient, Elmhurst College: January 2008</li>
      <li>DePaul University Dean's List: September 2006 - June 2007</li>
      <li>National Merit Scholar: 2006</li>
      <li>Illinois State Scholar: 2006 </li>
      <li>National Honors Society: 2006</li>
      <li>National Art Honors Society: 2006</li>
    </ul>

  </div>
</div>